.about{
    background-color: var(--primary-color-bg);
    color: var(--main-text);
    min-height: 100vh;
    scroll-margin-top: 3em;
}

.about-text{
    max-width: 60ch;
    line-height: 1.8;
}

.about-img{
    width: 450px;
    height: 450px;
    background-image: url(../img/jhoancolina.webp);
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(100%);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.8s ease-out;
     box-shadow: 4px 8px 20px var(--efect-color),
}

.about-img:hover{
    filter: grayscale(0%);
    background-size: 120%;
}

@media (max-width: 992px){
.container-flex{
    flex-direction: column;
    text-align: center;
    }

.about-img{
    width: 250px;
    height: 250px;
}
}