:root{
    // Modo Oscuro //
--efect-color: hsl(300, 100%, 25%);
--primary-color-bg: hsl(0, 0%, 0%);
--main-text: hsl(0, 0%, 100%);
--secondary-text: hsla(0, 0%, 100%, 0.84);
--letter-h-height: clamp(1.5em, 2.5vw, 3.5em);
}

a{
    font-weight: 500;
}