.header{
    height: 40px;
    background-color: var(--primary-color-bg);
}

.icon{
  fill: var(--main-text);
  width: 20px;
  height: 20px;
  
}

.icon:hover{
  fill: var(--efect-color);
}

.header a{
animation: transform .5s ease-in-out;
height: 60%;
}

.header a:hover{
  transform: translateY(-5px);
}
