.hero{
    background-color: var(--primary-color-bg);
    min-height: 100vh;
    position: relative;
}

.hero-bar{
    width: 40%;
    height: 220px;
    position: absolute;
    top: 15%;
    left: 30%;
    border-radius: 16px;
    box-shadow: 4px 8px 20px var(--efect-color),

}

.wave{
    width: 100%;
    height: 160px;
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    position: absolute;
    bottom: 0%;
    overflow: hidden;
}

.hero h1, .texto-hero{
    color: var(--color-text);
    font-size: var(--letter-h-height);
    background: linear-gradient(
    270deg,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet,
    red
  );
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: rainbow 6s ease infinite;
}

@keyframes rainbow{
    0% {background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
    100%{filter: hue-rotate(360deg);}
}

.texto-hero{
    font-size: var(--letter-h-height);
    color: var(--color-text);
    min-height: 1.5em;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 300px;
    background-color: var(--efect-color);
    border-radius: 25px;
    color: var(--main-text);
    text-decoration: none;
    cursor: pointer;
    z-index: 999;
}

.button:hover{
    background-color: var(--primary-color-bg);
    color: var(--efect-color);
    border: 1px solid var(--efect-color);
}