.hero{
    background-color: var(--primary-color-bg);
    min-height: calc(100vh - 110px);
    position: relative;
}

.hero-bar{
    width: 60%;
    height: 340px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 60px 40px 80px 140px;
    box-shadow: 4px 8px 20px var(--efect-color),
    
}

.hero h1, .texto-hero{
    color: var(--color-text);
    font-size: var(--letter-h-height);
    background: linear-gradient(
    270deg,
    red,
    green,
    cyan,
    blue,
    purple,
  );
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: rainbow 6s ease infinite;
}

@keyframes rainbow{
    0% {background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
    100%{filter: hue-rotate(360deg);}
}

.texto-hero{
    font-size: var(--letter-h-height);
    color: var(--color-text);
    min-height: 3em;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid var(--efect-color);
    color: var(--main-text);
    text-decoration: none;
    cursor: pointer;
    z-index: 999;
}

.button:hover{
    background-color: var(--main-text);
    color: var(--efect-color);
    border: 1px solid var(--efect-color);
}

@media (max-width: 576px){
    .hero-bar{
    width: 80%;
    height: 320px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 60px 40px 80px 140px;
    box-shadow: 4px 8px 20px var(--efect-color),
}
}