.nav-bar{
    width: 100%;
    height: 50px;
    background-color: var(--primary-color-bg);
    position: sticky;
    top: 0;
    z-index: 999;
    transition: background .3s ease;

ul{
    list-style: none;

}

ul a{
    text-decoration: none;
    color: var(--main-text);
}

ul a:hover{
  color: var(--efect-color);
}
}

.navbar-toggler {
  border: none;
  align-self: center;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='hsl%28300,100%,25%%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.navbar-toggler:focus {
  box-shadow: none;
}

.switch-btn{
  position: absolute;
  right: 15px;
}

.switch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.switch input {
  display: none;
}

.slider {
  position: relative;
  width: 40px;
  height: 21px;
  background-color: var(--primary-color);
  border: 1px solid var(--efect-color);
  border-radius: 20px;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 1px;
  top: 1px;
  background-color: var(--efect-color);
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: var(--primary-color);
  border: 1px solid var(--efect-color);
}

input:checked + .slider::before {
  transform: translateX(20px);
  background-color: var(--efect-color);
  border: 1px solid var(--efect-color);
}

nav.nav-scrolled{
  background-color: var(--efect-color);
  box-shadow: 0 2px 10px var(--primary-color-bg);
}


