.nav-bar{
    width: 100%;
    height: 80px;
    background-color: var(--primary-color-bg);
    position: relative;

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    }

ul a{
    text-decoration: none;
    color: var(--main-text);
}

ul a:hover{
  color: var(--efect-color);
}
}

.switch-btn{
  position: absolute;
  right: 15px;
}

.switch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.switch input {
  display: none;
}

.slider {
  position: relative;
  width: 40px;
  height: 21px;
  background-color: var(--primary-color);
  border: 1px solid var(--efect-color);
  border-radius: 20px;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 1px;
  top: 1px;
  background-color: var(--efect-color);
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

input:checked + .slider::before {
  transform: translateX(20px);
  background-color: var(--alternative-text);
  border: 1px solid var(--secondary-color);
}

