.tools{
    background-color: var(--primary-color-bg);
    color: var(--main-text);
    min-height: 100dvh;
    scroll-margin-top: 2em;

img{
    width: 90%;
    height: auto;
}
}

.accordion-button, .accordion-button:not(.collapsed){
    background-color: var(--accordion-color);
    color: var(--main-text);
}




@media (max-width: 912px){
 .tools{
    flex-direction: column-reverse;
 }
.accordion-flex{
    width: 100% !important;
}

.tools-img{
    justify-content: center;
}
}

