.tools{
    background-color: var(--primary-color-bg);
    color: var(--main-text);
    min-height: 100dvh;
    scroll-margin-top: 2em;

img{
    width: 90%;
    height: auto;
}
}

.card-container{
    background-color: var(--secondary-color);
    color: var(--support-color);
}

.tools-container{

    .html{
        background-color: orange;
        padding: .3em;
}
    .css{
        background-color: blue;
        padding: .3em;
    }

    .js{
        background-color: yellow;
        padding: .3em;
    }

    .wp{
        background-color: skyblue;
        padding: .3em;
    }

    .bs{
        background-color: blueviolet;
        padding: .3em;
    }

    .git{
        background-color: black;
        padding: .3em;
    }

    .github{
        background-color: black;
        padding: .3em;
    }
}

@media (max-width: 912px){
    .flex-tools{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .tools-container{
        width: 100% !important;
    }
}

