.tools{
    background-color: var(--primary-color-bg);
    color: var(--main-text);
    min-height: 100dvh;
    scroll-margin-top: 2em;

img{
    width: 90%;
    height: auto;
}

p{
    max-width: 60ch;
}
}

@media (max-width: 912px){
    .flex-tools{
        flex-direction: column-reverse;
        text-align: center;
    }
}

