.tools{
    background-color: var(--primary-color-bg);
    color: var(--main-text);
    min-height: 100vh;
    scroll-margin-top: 2em;

img{
    width: 90%;
    height: auto;
}
}

.accordion-button::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e");;
}

.accordion-button, .accordion-button:not(.collapsed){
    background-color: var(--accordion-color);
    color: var(--main-text);
}




@media (max-width: 912px){
 .tools{
    flex-direction: column-reverse;
 }
.accordion-flex{
    width: 100% !important;
}

.tools-img{
    justify-content: center;
}
}

