body{
    margin: 0;
    padding: 0;
}

.grid{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 70px 1fr 60px;
    grid-template-areas: "header header"
                         "sidebar main"
                         "footer footer";
    min-height: 100vh;
}