body{
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--color-base);
  font-size:  clamp(1rem, 0.875rem + 0.5vw, 1.125rem);
}

:root{
  --color-base: hsla(0, 0%, 100%, 1);
  --color-text-home1: hsla(145, 100%, 50%, 1);
  --color-text-home2: rgb(174, 0, 0);
  --color-text-home3: hsla(180, 100%, 50%, 1);
  
  background: radial-gradient(circle, hsla(243, 100%, 44%, 1) 5%, hsla(243, 100%, 28%, 1) 33%, hsla(248, 100%, 18%, 1) 45%, hsla(243, 100%, 50%, 1) 100%)
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.title{
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  display: flex;
}

.rotate{
  display: inline-block;
  align-items: center;
  overflow: hidden;
}

.rotate span{
  height: 100px;
  width: 220px;
  display: block;
  animation: rotateWords 8s infinite;
  padding-inline-start: 10px;
}

@keyframes rotateWords{
  0% {transform: translateY(0);}
  33% {transform: translateY(-205%);}
  66% {transform: translateY(-305);}
  100% {transform: translateY(0);}
}

.text-1{
  color: var(--color-text-home1);
}

.text-2{
  color: var(--color-text-home2)
}

.text-3{
  color: var(--color-text-home3)
}

header{
  width: 100%;
  display: flex;
}

h1{
  margin-inline: 30px;
}

.about{
 width: 100%;
 height: auto;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 padding-block: 12px;
}
.content{
  display: flex;
  flex-direction: column;
}

.img{
  display: flex;
}

.p-about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 65ch;
  line-height: 1.2;
  padding-block-start: 40px;
  margin-inline-end: 60px;
}

.foto{
  display: flex;
  height: 500px;
  border: 3px solid var(--color-text-home3);
  border-radius: 25px;
  transition: box-shadow 0.4s ease, transform 0.4s ease;
}

.foto:hover{
  box-shadow: var(--color-text-home1);
  transform: translateY(-10px);
}

