body{
    margin: 0;
    padding: 0;
}

.grid{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "header header"
                         "sidebar main"
                         "footer footer";
    min-height: 100vh;
}

header{
    grid-area: header;
    background-color: black;
    position: fixed;
    width: 100%;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 2em;
    margin: 0;
    padding: 0;
}

header a{
    width: 40px;
    height: 32px;
    color: white;
}

aside{
    grid-area: sidebar;
    position: fixed;
    top: 50px;       
    left: 0;
    width: 250px; 
    min-height: calc(100vh - 50px);  
    background-color: black;
    color: white;
}


.img-container{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: url("../img/Jhoan.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}

section{
    grid-area: main;
    background-color: blue;
}

footer{
    display: flex;
    justify-content: space-around;
    color: white;
    grid-area: footer;
    background-color: black;
}

footer ul{
    display: flex;
    gap: 1em;
    list-style: none;
}

footer ul a{
    text-decoration: none;
    color: white;
}