body{
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--color-base);
}

:root{
  --color-base: hsla(0, 0%, 100%, 1);
  --color-text-home1: hsla(145, 100%, 50%, 1);
  --color-text-home2: rgb(174, 0, 0);
  --color-text-home3: hsla(180, 100%, 50%, 1);
  background: radial-gradient(circle, hsla(243, 100%, 44%, 1) 5%, hsla(243, 100%, 28%, 1) 33%, hsla(248, 100%, 18%, 1) 45%, hsla(243, 100%, 50%, 1) 100%)
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.title{
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  display: flex;
}

.rotate{
  display: inline-block;
  align-items: center;
  overflow: hidden;
}

.rotate span{
  height: 100px;
  width: 220px;
  display: block;
  animation: rotateWords 8s infinite;
  padding-inline-start: 10px;
}

@keyframes rotateWords{
  0% {transform: translateY(0);}
  33% {transform: translateY(-205%);}
  66% {transform: translateY(-305);}
  100% {transform: translateY(0);}
}

.text-1{
  color: var(--color-text-home1);
}

.text-2{
  color: var(--color-text-home2)
}

.text-3{
  color: var(--color-text-home3)
}

header{
  display: flex;
}

.primera-web{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
}

h2{
  display: flex;
}

.p-web{
  display: flex;
  width: 80ch;
}

.libro{
  aspect-ratio: 16/10;
  display: flex;
  align-items: flex-start;
}


