:root{
    --main-color: hsl(240, 100%, 50%);
    --second-color: hsl(0, 0%, 0%);
    --color-text: hsl(0, 0%, 100%);  
}



body{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.grid{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 50px 1fr auto auto auto 100px;
    grid-template-areas: "header header"
                         "sidebar main"
                         "sidebar about"
                         "sidebar project"
                         "sidebar tools"
                         "footer footer";
    min-height: 100vh;
}

header{
    grid-area: header;
    background-color: var(--second-color);
    position: fixed;
    width: 100%;
    z-index: 999;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 2em;
    margin: 0;
    padding: 0;
}

header a{
    width: 40px;
    height: 32px;
    color: white;
}

aside{
    grid-area: sidebar;
    position: fixed;
    top: 50px;       
    left: 0;
    width: 250px; 
    height: calc(100vh - 50px);  
    background-color: var(--second-color);
    color: white;
}


.img-container{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: url("../img/jhoancolina.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 1.5em;
}

.sidebar ul li{
    list-style: none;
    padding-block: 1em;
    text-align: center;
}

.sidebar ul{
    padding: 0;
    margin: 0;
}

.sidebar a{
    text-decoration: none;
    color: white;
}

.main{
    grid-area: main;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main h1{
    color: var(--color-text);
    font-size: 3em;
    background: linear-gradient(
    270deg,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet,
    red
  );
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  
  animation: rainbow 6s ease infinite;
}

@keyframes rainbow{
    0% {background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
    100%{filter: hue-rotate(360deg);}
}

.main p{
    font-size: clamp(2em, 2.5vw, 3.5em);
    color: var(--color-text);
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: var(--second-color);
    border-radius: 25px;
    color: white;
    text-decoration: none;
}

.about{
    grid-area: about;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    color: white;
    scroll-margin-top: 3em;
}

.about img{
    max-width: 450px;
    max-height: 700px;
}

.about-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline-start: 1em;
    width: 60ch;
    line-height: 1.5;
}

.project{
    grid-area: project;
    background-color: var(--main-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 3em;
}

.project video{
    aspect-ratio: 16/9;
    max-width: 100%;
}

.tools{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: tools;
    min-height: 100vh;
    background-color: var(--main-color);
    color: white;
}

.cards{
    position: relative;
    width: 320px;
    height: 200px;
    text-align: center;
    box-shadow: black;
    gap: 2em;
}

.card{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-color: gray;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.card.active{
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.heading-card{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.prev-btn{
    display: flex;
    width: 50px;
    height: 50px;
    background-image: url(../img/chevron-left-solid.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    margin-inline-end: 2em;
}

.next-btn{
    display: flex;
    width: 50px;
    height: 50px;
    background-image: url(../img/chevron-right-solid.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    margin-inline-start: 2em;
}

.html{
    display: flex;
    width: 75px;
    height: 75px;
    background-image: url(../img/html5-brands-solid.svg);
    background-repeat: no-repeat;
}

.css{
    display: flex;
    width: 75px;
    height: 75px;
    background-image: url(../img/css3-alt-brands-solid.svg);
    background-repeat: no-repeat;
}

.js{
    display: flex;
    width: 75px;
    height: 75px;
    background-image: url(../img/js-brands-solid.svg);
    background-repeat: no-repeat;
}

.wordpress{
    display: flex;
    width: 75px;
    height: 75px;
    background-image: url(../img/wordpress-brands-solid.svg);
    background-repeat: no-repeat;
}

.git{
    display: flex;
    width: 75px;
    height: 75px;
    background-image: url(../img/git-alt-brands-solid.svg);
    background-repeat: no-repeat;
}

.github{
    display: flex;
    width: 75px;
    height: 75px;
    background-image: url(../img/github-brands-solid.svg);
    background-repeat: no-repeat;
}

footer{
    display: flex;
    justify-content: space-around;
    color: white;
    grid-area: footer;
    background-color: var(--second-color);
    text-align: center;
}

footer ul{
    display: flex;
    gap: 1em;
    list-style: none;
}

footer ul a{
    text-decoration: none;
    color: white;
}